body {
  animation: fade 1s;
  font-family: "Arial", sans-serif;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

#navigation {
  background-color: transparent;
  font-size: large;
  top: 0px;
  position: fixed;
  width: 100%;
}

#navigation a:link, a:visited {
  background-color: #000000;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


#navigation a:hover, a:active {
  background-color: #808080;
}

#footer {
  background-color: #000000;
  font-size: 8pt;
  color: #FFFFFF;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.centered {
  margin: auto;
  width: 50%;
  text-align: center;
}

a:link, a:visited {
  color: #4080FF
}
